.nav-link{
    color: rgb(128, 89, 201);
}

.btn.custom-btn{
    background-color: rgb(128, 89, 201);
    color: white;
    display: block;
    margin: 5px;
}

.btn:hover{
    background-color:rgb(213, 201, 233);
}

#resultsBox{
    display: none;
}